$primary-colour: #480404;
$secondary-colour: #2E4304;
$tertiary-colour: #022B2B;

$background-colour: #171717;//#333;

$font-primary-colour: #d8d8d8;
$font-secondary-colour: #121212;

body {
  background-color: $background-colour;
}

a, a:hover, a:active, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

nav.navbar {
  background-color: $primary-colour;

  .navbar-brand,
  .navbar-nav > li > a {
    color: $font-primary-colour;
  }

  .search input {
    border-color: $font-primary-colour;
  }
}

.details {
  color: $font-primary-colour;
}

.gallery {
  color: $font-primary-colour
}
