$primary-colour: #cc181e;
$secondary-colour: #8EC63F;
$tertiary-colour: #009DA6;

$background-colour: #282C34;//#333;

$font-primary-colour: #333333;
$font-secondary-colour: #121212;

body {
  background-color: $background-colour;
}

nav.navbar {
  background-color: $primary-colour;

  .navbar-brand {
    color: $font-primary-colour;
  }

  .navbar-nav > li > a {
    color: $font-primary-colour;
  }
}
