@media screen and (min-width: 768px) { //992px
  body {
    > .navbar {
      width: 20vw;
      height: 101vh;
      position: fixed;

      > .container {
        width: 100%;
        height: 100%;
      }

      .navbar-nav {
        width: 100%;
        > li {
          width: 100%;
        }
      }
    }

    > .container {
      left: 20vw;
      position: relative;
      width: 79vw;
      display: inline-block;
      padding: 15px;
    }
  }

}
