@media screen and (min-width: 992px) {
  body {
    > .navbar {
      width: 20vw;
      position: fixed;

      > .container {
        width: 100%;
      }
    }
    > .container {
      left: 20vw;
      position: relative;
      width: 79vw;
      display: inline-block;
    }
  }

}
