@media screen and (max-width: 767px) { //992px
  .admin.toolbar {
    width: 100%;
  }

  .title,
  .details {
    text-align: center;
  }

  ul {
    padding-left: 0;
  }

  .video.details {
    input[type=submit] {
      width: calc(100vw - 60px); //removing 4 set of margins
    }

    .rating,
    .actions {
      float: none !important;
    }

    .actions {
      margin-bottom: 15px;
    }
  }

  .gallery.grid {
    display: block;
    margin: 0 auto;
  }
}
