.search input {
  width: 100%;
  line-height: 34px;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px;
}

.navbar .separator {
  border-bottom: solid 1px;
  width: 100%;
}

//galleries
.gallery {
  width: 100%;
  height: 235px;

  .title {
    font-size: 24px;
    position: absolute;
    z-index: 2;
  }

  .box .title {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 69px;
  }

  .boxes {
    height: 80%;
  }

  .wrapper {
    font-size: 20px;
    position: relative;
  }

  .box {
    width: 300px;
    display: inline-block;
  }

  a {
    vertical-align: middle;
    text-align: center;
    position: relative;
  }

  .thumb {
    max-width: 100%;
    max-height: 100%;
    background:url('http://img.youtube.com/vi/aOPGepdbfpo/0.jpg') center no-repeat;
    height:204px;
    width:480px;
  }

  .actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}
