.search input {
  width: 100%;
  line-height: 34px;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px;
}

.navbar .separator {
  border-bottom: solid 1px;
  width: 100%;
}

//grids


//galleries
.gallery {
  width: 100%;
  height: 235px;

  .title {
    font-size: 24px !important;
    position: absolute;
    z-index: 2;
  }

  .box .title {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 69px;
  }

  .boxes {
    height: 80%;
  }

  .wrapper {
    font-size: 20px;
    position: relative;
  }

  .box {
    width: 300px;
    display: inline-block;
  }

  a {
    vertical-align: middle;
    text-align: center;
    position: relative;
  }

  .thumb {
    max-width: 100%;
    max-height: 100%;
    height:204px;
    width:480px;
  }

  .actions {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
}

//details
.details {
  .title {
    font-size: 35px;
  }

  .sub.title {
    font-size: 28px;
  }
}

//admin toolbar#
.admin.toolbar {
  position: fixed;
  width: inherit;
  z-index: 5;
}
