//body
body > .container,
nav.navbar {
  min-width: 330px;
}
//navbar
.search input {
  width: 100%;
  line-height: 34px;
  background-color: transparent;
  border: none;
  padding-left: 15px;
  border-bottom: solid 1px;
}

.navbar .separator {
  border-bottom: solid 1px;
  width: 100%;
}

//galleries
.gallery {
  max-width: 100%;
  height: 235px;

  &:not(.grid) {
      overflow-x: auto;
      display: flex;
  }

  .title {
    font-size: 24px !important;
    position: absolute;
    z-index: 2;
  }

  .boxes {
    height: 80%;
    white-space: nowrap;
    min-width:300px;
  }

  .wrapper {
    font-size: 20px;
    position: relative;
  }

  .box {
    width: 300px;
    display: inline-block;
    white-space: normal;

    .title {
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 69px;
    }
  }

  a {
    vertical-align: middle;
    text-align: center;
    position: relative;
  }

  .thumb {
    max-width: 100%;
    max-height: 100%;
    height:204px;
    width:480px;
  }

  .actions {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
}

//details
.details {
  .title {
    font-size: 35px;
  }

  .sub.title {
    font-size: 28px;
  }
}

//comments
.comment {
  position: relative;

  .action {
    position: absolute;
    right: 0;
    top: 0;
  }
}

//admin toolbar
.admin.toolbar {
  position: fixed;
  width: inherit;
  z-index: 5;
  pointer-events: none;

  .btn-group {
    pointer-events: all;
  }
}

//buttons
.btn {
  border-radius: 0;
}

.navbar-toggle {
  border-radius: 0;
  border: none;

  &:hover {
    background-color: transparent !important;
  }
}

//panels
.panel {
  border-radius: 0;
  border: none;

  .panel-heading {
    border-radius: 0;
  }
}

//form-controls
.form-control {
  border-radius: 0;
}
