.search input {
  width: 100%;
  line-height: 34px;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px;
}

.navbar .separator {
  border-bottom: solid 1px;
  width: 100%;
}

//galleries
.gallery {
  width: 100%;
  height: 180px;

  .title {
    font-size: 24px;
  }

  .boxes {
    height: 80%;
  }

  .wrapper {
    display: table;
    height: 100%;
    width: 100%;
    font-size: 20px;
  }

  ul {
    list-style-type: none;
    height:100%;
  }

  li {
    width: 300px;
    height: 100%;
    display: inline-block;
  }

  a {
    vertical-align: middle;
    display: table-cell;
  }
}
